<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="logo">
          <span class="logo-accent">Digital</span>Agency
        </div>
        <p class="brand-tagline">{{ 'FOOTER.TAGLINE' | translate }}</p>
      </div>
      
      <div class="footer-links">
        <div class="link-group">
          <h4>{{ 'FOOTER.G1' | translate }}</h4>
          <ul>
            <li><a href="#inicio">{{ 'NAV.HOME' | translate }}</a></li>
            <li><a href="#quienes-somos">{{ 'NAV.ABOUT'| translate }}</a></li>
            <li><a href="#servicios">{{ 'NAV.SERVICES'| translate }}</a></li>
            <li><a href="#proyectos">{{ 'NAV.RESULTS'| translate }}</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h4>{{ 'FOOTER.G2' | translate }}</h4>
          <ul>
            <li><a href="#">{{ 'FOOTER.L_PRIVACY' | translate }}</a></li>
            <li><a href="#">{{ 'FOOTER.L_TERMS' | translate }}</a></li>
            <li><a href="#">{{ 'FOOTER.L_COOKIES' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Digital Agency. {{ 'FOOTER.RIGHTS' | translate }}</p>
    </div>
  </div>
</footer>
